<div id="zoomwall" class="zoomwall">

{{- $context := . -}}
{{ $photodir := (.Get 0) }}
{{ $photoglob := printf "%s/**.jpg" $photodir }}
{{- range $src := .Page.Resources.Match $photoglob -}}
  {{- $title := (replace .Title "gallery/" "") -}}

  {{- $exifJson := $context.Page.Resources.GetMatch (printf "%s.json" .Name) -}}

  {{- $exif := slice -}}
  {{- with $exifJson -}}
    {{- with (index (.Content | unmarshal) 0) -}}
      {{- with .Title -}}{{- $title = . -}}{{- end -}}
      {{- with .Make2 -}}{{- $exif = $exif | append (printf "Make: %s" .) -}}{{- end -}}
      {{- with .Model -}}{{- $exif = $exif | append (printf "%s" .) -}}{{- end -}}
      {{- with .LensSpec -}}{{- $exif = $exif | append (printf "%s" .) -}}{{- end -}}
      {{- with .FNumber -}}{{- $exif = $exif | append (printf "ƒ/%.1f" .) -}}{{- end -}}
      {{- with .FocalLength -}}{{- $exif = $exif | append (printf "%s" .) -}}{{- end -}}
      {{- with .ExposureTime -}}
        {{- if eq (printf "%T" .) "float64" -}}
          {{- $exif = $exif | append (printf "%.1f s" .) -}}
        {{- else -}}
          {{- $exif = $exif | append (printf "%s s" .) -}}
        {{- end -}}
      {{- end -}}
      {{- with .ISO -}}{{- $exif = $exif | append (printf "ISO %.0f" .) -}}{{- end -}}
    {{- end -}}
  {{- end -}}

    {{- $crop := default "smart" -}}
    {{- $tinyw := printf "x600 %s Lanczos q95" $crop -}}
    {{- $smallw := printf "x900 %s Lanczos q95" $crop -}}
    {{- $mediumw := printf "x1200 %s Lanczos q95" $crop -}}
    {{- $largew := printf "x1600 %s Lanczos q95" $crop -}}

    {{- $srcset := slice -}}

    {{- $tiny := ($src.Resize $tinyw) -}}
    {{- $srcset = $srcset | append (printf "%s 600w" $tiny.Permalink) -}}
    {{- $img := dict "src" $tiny.RelPermalink "w" $tiny.Width "h" $src.Height -}}

    {{- if and (ge $src.Width "900") (ne $src.MediaType.SubType "png") -}}
        {{- $small := ($src.Resize $smallw) -}}
        {{- $srcset = $srcset | append (printf "%s 900w" $small.Permalink) -}}
        {{- $img = dict "src" $small.RelPermalink "w" $small.Width "h" $small.Height -}}
    {{- end -}}
    {{- if and (ge $src.Width "1200") (ne $src.MediaType.SubType "png") -}}
        {{- $medium := ($src.Resize $mediumw) -}}
        {{- $srcset = $srcset | append (printf "%s 1200w" $medium.Permalink) -}}
    {{- end -}}
    {{- if and (ge $src.Width "1600") (ne $src.MediaType.SubType "png") -}}
        {{- $large := ($src.Resize $largew) -}}
        {{- $srcset = $srcset | append (printf "%s 1600w" $large.Permalink) -}}
    {{- end -}}

    {{- $sizes := "(min-width: 700px) 220px, (min-width: 684px) 110px, 100vw" -}}

    <img
         srcset='{{ delimit $srcset ", " }}'
         sizes="{{ $sizes }}"
         src="{{ $img.src }}"
         alt="{{ $title }}"
    />

{{ end }}

</div>

